.header {
  position: sticky;
  top: 0;
  background: #ff3d00;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.header-right a,
.logout {
  margin-left: 1rem;
  color: white;
  font-weight: bold;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
}

.user {
  margin-left: 1rem;
}
.profile-button {
  padding: 0.4rem 0.8rem;
  background-color: #ff3d00;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: bold;
}
.profile-button:hover {
  background-color: #e23200;
}
.login-btn,
.logout {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.login-btn:hover,
.logout:hover {
  text-decoration: underline;
}
